[Desktop Entry]
Type=Application
Exec=paw --server
Icon=paw
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;

Name=Paw Server
GenericName=Terminal
Comment=A wayland native terminal emulator (server)
